<h3><i class="fas fa-book"></i>All in place</h3>
<div class="section">
    <p class="lead">A personal diary that keeps a record of your daily life.</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"> Log in with google</i>
    </a>

</div>