<h5>{{entry.user.displayName}}</h5>
<h5>New Entry</h5>
<div class="row">
    <form action="/entries" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title"><b>Title</b></label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="about" name="about">
                <label for="about"><b>About</b></label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Description:</h5>
                <textarea id="body" name="body"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn dark blue darken-4">
            <a href="/dashboard" class="btn red darken-4">Cancel</a>
        </div>
    </form>
</div>